.header__lang-link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin: 14px 9px 8px;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
 .header__lang-link {
   margin: 18px 9px 6px;
   font-size: 24px;
   line-height: 28px;
 }
}