.photo-grid {
  display: grid;
  width: 288px;
  row-gap: 12px;
  margin: 64px auto;
}

@media screen and (min-width: 768px) {
 .photo-grid {
   min-width: 720px;
   grid-template-columns: repeat(2, 352px);
   gap: 16px;
   margin: 88px auto;
 }
}

@media screen and (min-width: 1024px) {
 .photo-grid {
   min-width: 928px;
   grid-template-columns: repeat(3, 300px);
   gap: 14px;
   margin: 92px auto;
 }
}

@media screen and (min-width: 1280px) {
 .photo-grid {
   min-width: 1184px;
   grid-template-columns: repeat(4, 284px);
   gap: 16px;
 }
}