.place {
  display: grid;
  width: 320px;
  margin: 0 auto 50px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
 .place {
   width: 720px;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 16px;
   row-gap: 48px;
 }
}

@media screen and (min-width: 1024px) {
 .place {
   width: 928px;
   column-gap: 5px;
 }
}

@media screen and (min-width: 1280px) {
 .place {
   width: 984px;
   column-gap: 13px;
 }
}